$primary-color:#162EAE;
$second-color:#FFAA40;

*{
	margin:0;
	padding:0;
}
li {
	list-style-type:none;
}
/**
 * Сброс стилей у кнопки.
 * Придётся немного поработать, чтобы получить нейтральный вид.
*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
/* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.btn {
  text-decoration: none;
  outline: none;
  color: $primary-color;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165,.84,.44,1);
}
.btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(0deg, rgb(20, 72, 162), rgb(54, 159, 234), rgb(27, 144, 212), rgb(27, 163, 219));
  transition: .4s cubic-bezier(.165,.84,.44,1);
}
.btn:hover,
.btn:focus {
	background: rgba(255,255,255,0);
}
.btn:hover:before,
.btn:focus:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
html {
	width:calc(100vw - 16px);
	height:auto;
	overflow-x:hidden;
}
body {
	width:100%;
	height:100%;
}
header {
	width:100%;
	height:270px;
	max-height:270px;
	.header_top {
		width:100%;
		height:168px;
		max-height:170px;
		display:flex;
		.header_logo {
			flex-grow:1;
			max-width:50%;
			display:flex;
			align-items:center;
			.logo {
				display:block;
				margin-left:10%;
			}
		}
		.header_contact-search {
			flex-grow:1;
			max-width:60%;
			display:flex;
			align-items:center;
			justify-content: flex-end;
			margin:0 20px 0 0;
			.header_contact {
				display:flex;
				min-width:260px;
				margin-right:10px;
				align-items: center;
				justify-content: space-between;
				.icon_phone {
					display:block;
					margin:0 10px 0 0;

				}
				.contact {
					display:flex;
					text-align: right;
					margin:0 0 0 10px;
				}
			}
			.header_adress {
				display:flex;
				min-width:240px;
				margin-left:10px;
				align-items: center;
				justify-content: space-between;
				.icon_adress {
					display:block;
					margin:0 10px 0 0;
				}
				.adress {
					display:flex;
					text-align: right;
					margin:0 0 0 10px;
				}
			}
			/*Пока убираю поиск в виду ненадобности*/
			.header_search {
				flex-grow:1;
				display:none;
				justify-content: center;
				.search {
					width:120px;
					height:30px;

					input[name="keyword"] {
					  display: block;
					  width:120px;
					  height:30px;
					}
				}
			}
		}
	}
	.header_middle {
		width:100%;
		height:46px;
		max-height:46px;
		display:flex;
		border-top:solid 2px $primary-color;
		border-bottom:solid 2px $primary-color;
		.make_order {
			display:flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;
			border-right:solid 1px $primary-color;
			background-color: $second-color;
		}
		.make_backcall {
			display:flex;
			flex-grow:1;
			justify-content: center;
			align-items: center;
			border-left:solid 1px $primary-color;
			background-color: $second-color;
		}
	}
	.header_bottom {
		position:relative;
		width:100%;
		height:46px;
		max-height:50px;
		display:flex;
		justify-content: center;
		align-content:center;
		border-bottom:solid 4px #FFFFFF;
		.main_menu_first,
		.main_menu_second,
		.main_menu_third,
		.main_menu_fourth,
		.main_menu_fifth,
		.main_menu_six {
			height:100%;
			flex-grow:1;
			display:flex;
			justify-content: center;
			align-items: center;
			text-decoration:none;
			font-weight:800;
			color:$primary-color;
		}
		.main_menu_first:hover,
		.main_menu_second:hover,
		.main_menu_third:hover,
		.main_menu_fourth:hover,
		.main_menu_fifth:hover,
		.main_menu_six:hover {
			border-bottom:solid 4px $primary-color;
		}
		.down_first,
		.down_second,
		.down_third,
		.down_fourth,
		.down_fifth,
		.down_six {
			display:none;
			position:absolute;
			left:0;
			top:52px;
			width:100%;
			height:100px;
			background-color:#FFFFFF;
		}
		.main_menu_first:hover .down_first {
			display:block;
		}
		.main_menu_second:hover .down_second {
			display:block;
		}
		.main_menu_third:hover .down_third {
			display:block;
		}
		.main_menu_fourth:hover .down_fourth {
			display:block;
		}
		.main_menu_fifth:hover .down_fifth {
			display:block;
		}
		.main_menu_six:hover .down_six {
			display:block;
		}
	}
}
main {
	width:100%;
	height:auto;
	.main_big-photo {
		width:100%;
		height:800px;
		background-image: url("../images/main_bigphoto.jpg");
		background-size:cover;
	}
/* 	.main_make-order {
	width:calc(100% - 10px);
	max-width:100%;
	height:68px;
	max-height:70px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:5px 5px;
	border:solid 2px $primary-color;
	border-radius:4px;
} */
	.main_services {
		width:100%;
		max-width:100%;
		height:auto;
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 300px 300px;
		.services_first {
			background-image: url("../images/frist.jpg");
			background-size:cover;
			border:solid 3px #FFFFFF;
		}
		.services_second {
			background-image: url("../images/second.jpg");
			background-size:cover;
			border:solid 3px #FFFFFF;
			border-left:none;
		}
		.services_third {
			background-image: url("../images/third.jpg");
			background-size:cover;
			border:solid 3px #FFFFFF;
			border-top:none;
		}
		.services_fourth {
			background-image: url("../images/fourth.jpg");
			background-size:cover;
			border-bottom:solid 3px #FFFFFF;
			border-right:solid 3px #FFFFFF;
		}
		.services_first,
		.services_second,
		.services_third,
		.services_fourth {
			.services_words {
				position:relative;
				text-align:center;
				top:80%;
				color:#FFFFFF;
				font-size:20px;
				font-weight:900;
			}
		}
	}
}
footer {
	width:100%;
	height:500px;
	display:flex;
	flex-direction: column;
	.footer_site-map-contact {
		width:100%;
		height:250px;
		border-bottom:5px solid #FFFFFF;
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 205px 40px;
		grid-template-areas: 
		"site-map contact"
		"year year";
		background-color: $primary-color;
		.footer_site-map {
			grid-area: site-map;
			display:flex;
			align-items: center;
			justify-content: center;
			color:#FFFFFF;
		}
		.footer_contact {
			grid-area: contact;
			display:flex;
			align-items: center;
			justify-content: center;
			color:#FFFFFF;
			text-align:center;
		}
		.footer_year-rights {
			grid-area: year;
			display:flex;
			align-items: center;
			justify-content: center;
			color:#FFFFFF;
		}
	}
	.map {
		width:100%;
		height:250px;
	}
}
